@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:500');
figure.snip1190 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  
  margin-left:7px;
  min-width: 25vw;
  max-width: 29vw;
  min-height:10vw;
  max-height: 25vw;
  border-top-left-radius:2%;
  border-top-right-radius: 2%;
  border-bottom-right-radius:2%;
  border-bottom-left-radius:2%;
  background: #000000;
  text-align: center;
}
figure.snip1190 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1190 img {
  opacity: 0.8;
  width: 100%;
}
figure.snip1190 figcaption {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
figure.snip1190 h2 {
    font-size:2.5vw;
  font-weight: 400;
  left: 0;
  right: 0;
  letter-spacing: -1px;
  margin: 0 auto;
  position: absolute;
  text-transform: uppercase;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1190 h2 span {
  font-weight: 800;
}
figure.snip1190 p {
    font-family: "微軟正黑體";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0;
  font-size: 1.5vw;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
}
figure.snip1190 .square {
  height: 78px;
  width: 78px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after,
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after {
  width: 65%;
  height: 2px;
}
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  width: 2px;
  height: 65%;
}
figure.snip1190 .square:before,
figure.snip1190 .square div:before {
  left: 0;
  top: 0;
}
figure.snip1190 .square:after,
figure.snip1190 .square div:after {
  bottom: 0;
  right: 0;
}
figure.snip1190 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1190:hover img,
figure.snip1190.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1190:hover h2,
figure.snip1190.hover h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
figure.snip1190:hover p,
figure.snip1190.hover p {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
figure.snip1190:hover .square:before,
figure.snip1190.hover .square:before {
  width: 38%;
}
figure.snip1190:hover .square div:before,
figure.snip1190.hover .square div:before {
  height: 38%;
}
figure.snip1190:hover .square:after,
figure.snip1190.hover .square:after {
  width: 55%;
}
figure.snip1190:hover .square div:after,
figure.snip1190.hover .square div:after {
  height: 55%;
}




body{
    background-color:#6F5449;
    -webkit-user-select: none;
    
}
.top{
    background-color:#392C22;
    height:33px;
}

.carousel{
    position: absolute;
    opacity:0.8;
    min-height:29vw;
    max-height:30vw;
    max-width:90vw;
    min-width:88vw;
}
.text0{
    position: absolute;
}
.text0 h1{
    font-family: 'Lobster', cursive;
    font-size:8vw;
    width:40vw;
    color:#fff;
    position: absolute;
    left:calc( ( 100vw - 45vw ) / 2);
    top:7vw;
}

.text0 h3{
    font-family: 'Rajdhani', sans-serif,bold;
    font-size:2.5vw;
    color:rgba(255, 255, 255, 0.596);
    position: absolute;
    width:50vw;
    left:calc( ( 100vw - 50vw ) / 2);
    top:18vw;
}


.img{
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#392C22;
    height:30vw;
    width:100%;
}
.nav{
    border-top:1px solid rgba(255, 255, 255, 0.596);
    border-bottom:1px solid rgba(255, 255, 255, 0.596);

    color:#fff;
    display:flex;
}

.nav0{
    
    right:2vw;
    height:4vw;
    color:#fff;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
.nav0 a{
    font-family:'Raleway', Arial, sans-serif,bold;
    color:#fff;
    font-size:1.5vw;
    }
.nav0 a:hover{
    font-family:'Raleway', Arial, sans-serif,bold;
    text-decoration:none;
    color:#DAB55B;
    font-size:2vw;
}
.row{
    background-color:#392C22;
}
.row0 p{
    font-family:'Raleway', Arial, sans-serif,bold;
    font-size:25px;
    color:#fff;
}
.space{
    height:20px;
    background-color:#392C22;
}

.row h4{
    font-size:4vw;
}
.row1 p{
    font-size:1.5vw;
}
.hh{
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#A56E50;
    color:#fff;
   
}
.h1{
    border-top-left-radius: 25%;
}
.h3{
    border-top-right-radius: 25%;
}
.icon{
    max-width: width 5%;
    height:auto;
    display:block;
}

.pp{
    font-family:"微軟正黑體";
    background-color:rgba(43, 38, 38, 0.61);
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#fff;
    background-color:#A56E50;
}

.text1{
    height:auto;
    border:1px dashed #F8F1E1;
}
.text1 p{
    padding:1.5vw;
    font-family:"微軟正黑體";
    font-size:1.5vw;
}

.footer{
   
    background-color:#392C22;
    display: flex;
    flex-direction:column;
    align-items:center;
}

 